@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply border border-primary bg-primary text-white hover:text-gray-950 hover:bg-transparent hover:border hover:border-black;
    }
}

@keyframes typing {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
  }
  
  .animate-typing {
    animation: typing 1.5s infinite;
  }
  
  .delay-150 {
    animation-delay: 0.15s;
  }
  
  .delay-300 {
    animation-delay: 0.3s;
  }